name: "Docker Build (Minimal)"

on:
  push:
    branches: [ "master" ]
  schedule:
    - cron: '0 4 * * 6'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Minimal.Dockerfile
          push: true
          tags: bene987/aspnet-chrome:latest-minimal,bene987/aspnet-chrome:latest,bene987/aspnet-chrome:7.0-jammy
